// https://coolors.co/e6070b-ca4f0c-cc7306-ea5307-eca809-6b9c46-327e67-3a6b69-41576c-1d5d78

$vermilion: #e6070bff;
$burnt-orange: #ca4f0cff;
$ochre: #cc7306ff;
$persimmon: #ea5307ff;
$marigold: #eca809ff;
$maximum-green: #6b9c46ff;
$viridian: #327e67ff;
$myrtle-green: #3a6b69ff;
$black-coral: #41576cff;
$blue-sapphire: #1d5d78ff;

// $info_color : ;