@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&family=Bangers&family=Great+Vibes&family=Lobster&family=Paytone+One&family=Playball&family=Roboto+Slab:wght@900&family=Roboto:wght@900&display=swap');

$font_1: 'Arvo', serif;
$font_2: 'Bangers', cursive;
$font_3: 'Great Vibes', cursive;
$font_4: 'Lobster', cursive;
$font_5: 'Paytone One', sans-serif;
$font_6: 'Playball', cursive;
$font_7: 'Roboto', sans-serif;
$font_8: 'Roboto Slab', serif;

